<?xml version="1.0" encoding="utf-8"?>
<ArrayOfRunNumbers xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ConfigProduct>100048</ConfigProduct>
  <ConfigOrder>1002</ConfigOrder>
  <ConfigOrderItem>1002</ConfigOrderItem>
  <ConfigOrderItem>1000</ConfigOrderItem>
</ArrayOfRunNumbers>