<?xml version="1.0" encoding="utf-8"?>
<ArrayOfRunNumbers xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ConfigProduct>100054</ConfigProduct>
  <ConfigOrder>1004</ConfigOrder>
  <ConfigOrderItem>1004</ConfigOrderItem>
  <ConfigOrderItem>1000</ConfigOrderItem>
</ArrayOfRunNumbers>